.full-course-price__price {
    margin-right: 9px;
    font-family: $font2-light;
    font-weight: 300;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: -2px;
    color: rgba(255, 255, 255, 0.4);
    mix-blend-mode: normal;

    @media (min-width: 1170px) {
        font-size: 38px;
    }
}
