.advantages__item {
    font-family: $font3-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: -0.5px;
    color: #657195;
    margin-bottom: 25px;

    &:before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background: $color-1;
        margin-right: 16px;
        flex: none;
        border-radius: 50%;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
