.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 710px;

    @media (min-width: 770px) {
        box-sizing: border-box;
        padding: 0 0 80px;
        max-width: 710px;
    }

    @media (min-width: 1170px) {
        max-width: inherit;
        max-width: 1170px;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }
}
