@font-face {
    font-family: 'Roboto Regular';
    src: url('../../fonts/roboto/Roboto-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../../fonts/roboto/Roboto-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab Light';
    src: url('../../fonts/roboto-slab/RobotoSlab-Light.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../../fonts/roboto-slab/RobotoSlab-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/open-sans/OpenSans-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../../fonts/open-sans/OpenSans-Bold.ttf');
    font-style: normal;
}
