.discount {
    &__text-bold {
        font-family: $font1-bold;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 7px;
    }
}
