.discount {
    &__procent {
        font-family: $font1-bold;
        font-size: 30px;
        text-align: center;
        letter-spacing: -0.5px;
        color: #FFFFFF;
        margin-bottom: 6px;
    }
}
